{% extends 'base.html.twig' %}
{% block main %}
<body>
<div class="jumbotron top-space">
    <div class="container">

        <h3 class="text-center thin">C &#46; V &#46; I &#46; D</h3>

        <div class="row">
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4>C&rsquo;EST QUOI</h4></div>
                <div class="h-body text-center">
                    <p> Le programme national de la recherche et de l&rsquo;innovation &#40; PNRI &#41; est un programme ayant pour objectif de renforcer la collaboration entre les secteurs productifs de l&rsquo;&eacute;conomie tunisienne et celui de la recherche afin de d&eacute;velopper les capacit&eacute;s concurentielles des entreprises&#44; notament&#44; les PME&#46; Il vise &agrave; les ressources humaines et techniques dess structures de recherche publiques aux besoins des entreprises&#45;</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4>COMMENT ADH&Eacute;RER </h4></div>
                <div class="h-body text-center">
                    <p>Pour adh&eacute;rer un programme au programme PNRI&#44; la&#40;ou les&#41; entreprises&#40;s&#41; doivent &#58;<br>
                        &#49;&#45; Associer au moin une &quot;une structure porteuse&quot; &#40;centre technique&#44; technopoles&#41; et une structure public de recherche &#40;laboratoire&#44; unit&eacute; de recherche&#41;.<br>
                        &#50;&#45; D&eacute;montrer une innovation significative. <br>
                        &#51;&#45; Pr&eacute;senter un projet d&rsquo;une dur&eacute;e maximale de deux &#40;2&#41;ans.
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4>FINANCEMENT</h4></div>
                <div class="h-body text-center">
                    <p>A travers le programme PNRI&#44; l&rsquo;&Eacute;tat contribue au financement des projets de recherche et d&rsquo;innovation &aacute; hauteur de &#56;&#48;&#37; du co&ucirc;t global du projet avec un plafond de 200&#46;000 DT <br>
                        L&rsquo;entreprise doit justifier une contribustion minimale de 20&#37; du co&ucirc;t total du projet. Cette contribution peut &ecirc;tre en nature &#40;mobilisation de personnel de l&rsquo;entreprise&#44; mati&egrave;res premi&egrave;re&#44; exploitation d&rsquo;&Eacute;quipement de l&rsquo;entreprise &#41;.
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4>SECTEURS ELIGIBLES</h4></div>
                <div class="h-body text-center">
                    <p>
                    <h6> <b><em> SECTEUR INDUSTRIEL : </em></b></h6>   Les entreprises priv&eacute;e ou publiques de secteur industriel &#40;textile&#44; agroalimentaire&#44; a&eacute;ronautiques&#44; pharmaseutiques...&#41; <br>
                    <h6> <b><em>SECTEUR AGRICULTURE : </em></b></h6>  Les entreprises priv&eacute;e ou publiques de secteur agricole et de la p&ecirc;che &#40;aquaculture&#44; agriculture biologique...&#41; <br>
                    <h6><b><em> SECTEUR SERVICES : </em></b></h6>  Les activit&eacute;s de services qui aboutissent &aacute; des r&eacute;sultats susceptibles d&rsquo;exploitation &eacute;conomique &#40;l&rsquo;informatique&#44; l&rsquo;expertise et l&rsquo;assistance&#44; l&rsquo;environnement&#44; la sant&eacute;&#44; le transport...&#41;
                    </p>
                </div>
            </div>
        </div> <!-- /row  -->
    </div>
</div>
<!-- container -->
<div class="container">

    <h2 class="text-center top-space"></h2>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <h3>L&rsquo;INNOVATION &Ccedil;A VOUS INT&Eacute;RESSE</h3>
            <p>Vous &ecirc;tes une entreprise publique ou priv&eacute;e et vous souhaitez am&eacute;liorer votre comp&eacute;tivit&eacute; &agrave; travers des solutions innovantes... adh&eacute;rez au programme PNRI qui mets &agrave; votre disposition : <br>
                - L&rsquo;expertise des structures publiques de recherche. <br>
                - L&rsquo;accompagnement des centres techniques sectoriels.
            </p>
        </div>
        <div class="col-sm-6">
            <h3>GESTION DU PROJET</h3>
            <p> Dans la r&eacute;alisation de vos projets&#44; les centres techniques nomm&eacute;es &quot;Structure Porteuse&quot; participent &agrave; la r&eacute;alisation du projet en tant que partenaire de recherche. Les centres techniques vous aident &agrave; : <br>
                - Identifier vos besoins dans le domaine de la recherche et de l&rsquo;innovation.
                - Constituer les &eacute;quipes de travail charg&eacute;es de la r&eacute;alisation du projet.
            </p>
        </div>
    </div> <!-- /row -->

    <div class="row" style="margin-left : 400px">
        <div class="col-sm-6">
            <h3>DEBLOCAGE & SUIVI </h3>
            <p>
                La subvention de l&rsquo;&Eacute;tat est d&eacute;bloqu&eacute;e au profit des structures porteuses en trois tranches selon le taux de r&eacute;alisation du projet : <br>
                - 1&egrave;re tranche : d&eacute;bloqu&eacute;e au d&egrave;marrage du projet.<br>
                - 2&egrave;me tranche : 30&#37; de l&rsquo;avancement du projet.<br>
                - 3&egrave;me tranche : 80&#37; de l&rsquo;avancement du projet.
            </p>
        </div>
    </div> <!-- /row -->

</div>
</body>
    <footer></footer>
{% endblock %}
